.nav-tabs {
	padding-bottom: 10px;
}

.nav-tabs> li> a {
	background-color: transparent;
	color: white;
	border: 1px solid #fcf8e3;

}

.nav-tabs>li.active>a:hover{
	background-color: white;
	color: black;
	border-bottom-color: #fcf8e3;
}

.nav-tabs>li.active > a:focus {
	background-color: white;
	color: black;
	border-bottom-color: #fcf8e3;
}
.nav-tabs>li.active > a {
	background-color: white;
	color: black;
	border-bottom-color: #fcf8e3;
}


#uncontrolled-tab-example {
	text-align: center;
}

.tabs-left .tab-content, .tabs-right {
	display: block;
}

.tab-content > .tab-pane {
	color: white;
}

.nav-tabs > li {
	float: none;
	display: inline-block;
	zoom:1;
}

.nav-tabs {
	text-align: center;
	border-bottom: 0px;
}

#uncontrolled-tab-example-tab-1{
	border-radius: 24px 0px 0px 24px;
	margin: 0px;
}

#uncontrolled-tab-example-tab-2{
	border-radius: 0px 0px 0px 0px;
	margin: 0px;
}

#uncontrolled-tab-example-tab-3{
	border-radius: 0px 24px 24px 0px;
	margin: 0px;

}












